<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img  class ="card-img-top" src="https://tutorialesdetodogratis.files.wordpress.com/2018/02/curso-desarrollo-ecommerce-con-php.png?w=1108" alt="">
            <div class="card-body">
                <h2>
                    $30 
                </h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea beatae doloribus dolorem, est ullam velit cumque neque reiciendis architecto necessitatibus, voluptate sint dolorum in? Voluptates magnam cumque libero asperiores. Sequi.
                </p>
            </div>
            <div class="card-footer">
                <form action="/pago" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_aS5l7D4b8R6Lm9gKaZSYXfMY005fjPVseQ"
    data-amount="3000"
    data-name="Curso de PHP"
    data-description="Curso"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
  <script>
      document.getElementsByClassName("stripe-button-el")[0].style.display="none"
  </script>
  <button class="btn btn-dark btn-block">
                    Buy <i class="fas fa-shopping-cart"></i>
                </button>
</form>
                
            </div>
        </div>
    </div>
</div>